<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Minilog{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}lib/WebSymbols/stylesheet.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/typography.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/pagination.css">
    {% block head %}
    {% endblock %}
</head>
<body>
    <div id="wrapper">
        <header>
            <h1><a href="/">Minilog</a></h1>
            <h2>Django Weblog sample of the pythonista, by the pythonista, for the pythonista</h2>
        </header>
        <nav id="breadcrumbs">
            <ol>
                <li class="home"><a href="/">Home</a></li>
                {% block breadcrumbs %}
                {% endblock %}
            </ol>
        </nav>
        <section id="main">
            {% block content %}
            {% endblock %}
        </section>
        <footer>
            <p>Copyright &copy; 2012, hashnote.net, Alisue allright reserved.</p>
        </footer>
    </div>
</body>
</html>
